<div class="container" xmlns="http://www.w3.org/1999/html">
    <div *ngIf="stages">
        <ul  *ngFor="let s of stages ,let i=index">
            <li>{{s.titre}}</li>
            <li>{{s.duree}}</li>
            <li>{{s.technologie}}</li>
            <div *ngIf="ok">
                <li *ngIf="aff" >{{s.description}}</li>
            </div>

            <div class="row">
                <button  (click)="onClickConsulter(i,s)" >consulter </button> <button (click)="onClickInterreser()" >interrese </button>
            </div>

           ************************
            <div class="row"></div>
        </ul>
    </div>

</div>
